<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Blog</title>
		<link rel="stylesheet" href="/styles/bootstrap.min.css">
		<link rel="stylesheet" href="/styles/bootstrap-theme.min.css">
		<link rel="stylesheet" href="/styles/fontello.css">
		<link rel="stylesheet" href="/styles/style.css">
		<script type="text/javascript" src="/js/jquery.min.js"></script>
		<script type="text/javascript" src="/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="/js/kindeditor/kindeditor-all-min.js"></script>
		<script type="text/javascript" src="/js/kindeditor/lang/zh-CN.js"></script>
		<!--[if lt IE 9]>
		<script language="javascript" type="text/javascript" src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<script>
		var editor;
		KindEditor.ready(function(K) {
			editor = K.create('textarea[name="post"]', {
				width: '100%',
				height: 500
			});
		});
		</script>
	</head>
	<body>
		<div class="header">
			<div class="container">
				<div class="row">
					<div class="col-md-9">
						<ul class="nav nav-pills header-nav">
							<li role="presentation" class="active">
								<a title="主页" href="/">
									<span class="glyphicon glyphicon-home" aria-hidden="true"></span> 主页
								</a>
							</li>
							<li role="presentation"><a title="存档" href="/archive">存档</a></li>
							<li role="presentation"><a title="标签" href="/tags">标签</a></li>
							<li role="presentation"><a title="友情链接" href="/links">友情链接</a></li>

							<li><a title="个人中心" href="/account">个人中心</a></li>
							<% if (user) { %>
							<!-- <li><a title="上传" href="/upload">上传</a></li> -->
							<li><a title="发表" href="/post">发表</a></li>
							<li><a title="登出" href="/logout">登出</a></li>
							<% } else { %>
							<li><a title="登录" href="/login">登录</a></li>
							<li><a title="注册" href="/reg">注册</a></li>
							<% } %>
						</ul>
					</div>
					<div class="col-md-3">
						<form action="/search" method="GET" id="search_wrap">
							<div class="input-group">
								<input type="text" class="form-control" name="keyword"  placeholder="Search for...">
								<span class="input-group-btn">
									<input class="btn btn-default" type="submit" value="Go!" />
								</span>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row main">
				<div class="col-md-3 col-md-push-9">