<div>
	<nav style="margin-left: 0">
		<ul class="pager">
			<% if (!isFirstPage) { %>
			<li><a href="?p=<%= page-1 %>">上一页</a></li>
			<% } %>
			<% if (!isLastPage) { %>
			<li><a href="?p=<%= page+1 %>">下一页</a></li>
			<% } %>
		</ul>
	</nav>
</div>