<%- include header %>
		<form method="post" action="/upload" enctype="multipart/form-data">
			<input type="file" multiple name="field1" style="display: inline;"/>
			<input class="btn btn-default" type="submit" value="上传">
		</form>
<%- include footer %>